.language{
    width: 80px;
    height: 100px;
    margin: 10px;
    margin-left: 40px;
    /* border: 1px solid red; */
}

.languageText{
    text-align: center;
    font-size: 18px;
    text-transform: lowercase;
    padding-top: 10px;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;

}

.langugeImage{
    width: 80px;
    height: 80px;
}